*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: raba(0,0,0,0);
	-webkit-text-size-adjust: none;
}
a{
	text-decoration: none;
}
header{
	width: 100%;
	height: 0.88rem;
	background-image: linear-gradient(-90deg, #ff0000 2%,#fe330b 50%,#fd6115 100%),linear-gradient(#ff0000, #ff0000);
	padding: 0 0.24rem;
	display: flex;
	justify-content: space-between;
	align-items: center;	
	/*margin-top: 0.4rem;*/ 	
}
.a1{
	width: 2.8rem;
	height: 0.5rem;
	font-size: 0.36rem;
	line-height: 0.5rem;
	color: white;
}
.a1>i{
	font-size: 0.36rem;
}
.a2{
	width: 3.42rem;
	height: 0.36rem;
	background-color: white;
	border-radius: 0.18rem;
	font-size: 0.32rem;
	text-align: right;
	line-height: 0.36rem;
}
.a2>i{
	font-size: 0.32rem;
}
.banner{
	width: 100%;
	height: 2.58rem;
	margin: 0.24rem auto;
	/*padding: 0 0.24rem;*/
	position: relative;
}
.banner img{
	width: 100%;
	height: 100%;
}
.banner>.b1{
	padding: 0 0.24rem;
	width: 100%;
	height: 100%;
}
.banner>.b2{
	padding: 0 0.24rem;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.xuanze{
	width: 100%;
	height: 3rem;
    margin-top:0.24rem;
}
.xuanze>ul{
	width: 100%;
	height: 100%;
}
.xuanze>ul>li{
	width: 25%;
	height: 1.5rem;
	float: left;
	text-align: center;
}
.xuanze>ul>li>a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 0.24rem;
	color: black;
}
.xuanze>ul>li>a>img{
	width: 1rem;
	height: 1rem;
}
.ats{
	width:100% ;
	height: 2rem;
}
h6{
	width: 100%;
	height: 0.3rem;
	font-size: 0.28rem;
	font-weight: 300;
	line-height: 0.3rem;
	text-align: center;
	margin-top: -0.12rem;
}
.c1{
	width: 100%;
	height: 0.24rem;
	padding: 0 0.4rem;
	margin-top: 0.24rem;
	display: flex;
	justify-content: space-between;
}
.c1>li>a{
	display: block;
	color: black;
}
.c1 a,.c1 a i{
	font-size: 0.18rem;
}
.c1>li>.hot{
	font-weight: bold;
}
.z1{
	width: 100%;
	height: 2rem;
	/*background-color: blue;*/
	margin-top: 0.24rem;
	position: absolute;
	top: 10rem;
}
.zd1{
	width: 100%;
	height: 0.24rem;
	background-color: #EDEFF0;
}
.z1>ul{
	width: 100%;
	height: 11.76rem;
	background-color: #EDEFF0;
	padding: 0 0.24rem;
}
.z1 ul li{
	width: 100%;
	height: 2.4rem;
	border-radius: 0.2rem;
	background-color: white;
	padding: 0.24rem;
	margin-bottom: 0.24rem;
}

.zzz1,.zzz2,.zzz3,.zzz4{
	width: 1.32rem;
	height: 1.32rem;
	/*background-color: blue;*/
	float: left;
	
}
.zzz1 img,.zzz2 img,.zzz3 img,.zzz4 img{
	width: 100%;
	height: 100%;
}
.xz1,.xz2,.xz3,.xz4{
	width: calc(100% - 1.32rem);
	height: 1.8rem;
	/*background-color: pink;*/
	float: right;
	font-size: 0.18rem;
	color: #B8B8B8;
	padding-left: 0.24rem;
}
h4{
	font-size: 0.24rem;
	color: black;
}
.xz1 i,.xz2 i,.xz3 i,.xz4 i{
	color: #F9C451;
}
.xz1 p,.xz2 p,.xz3 p,.xz4 p{
	width: 100%;
	height: 0.4rem;
}
.xz1 button,.xz2 button,.xz3 button,.xz4 button{
	width: 0.7rem;
	height: 0.3rem;
	color: white;
	font-size: 0.18rem;
	line-height: 0.3rem;
	text-align: center;
	border: none;
}
.xz1 .bu1 button,.xz2 .bu2 button,.xz3 .bu3 button,.xz4 .bu4 button{
	background-color: #F3ABDA;
}
.xz1 .buo1 button,.xz2 .buo2 button,.xz3 .buo3 button,.xz4 .buo4 button{
	background-color: #ABC8F3;
}
.s1{
	width: 100%;
	height: 1.24rem;
	background-color: white;
	position: fixed;
	bottom: 0;
}
.s1>ul{
	width: 100%;
	height: 100%;
}
.s1>ul>li{
	width: 25%;
	height: 100%;
	float: left;
	text-align: center;
}
.s1>ul>li>a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 0.24rem;
	padding-top: 0.2rem;
	line-height: 0.5rem;
	color:#050505 ;
}
.ss1>i,.ss2{
	color: #FE0787;
}
.s1> ul >li >a>p>i{
	font-size: 0.32rem;
} 
